extends base.pug

block style 
     style 
        include ../static/style.css 
        include ../static/about.css
block scripts
      script(src='../static/index.js')

block content 
   div.cards
      h1.head
       |About Us
      div.card1
       div.card#card1
        h3 
         |about dance types 
        hr
        p 
         |1.Viennese Waltz - Original form of the waltz, first performed at the Italian courts, is today remembered as the    Viennese Waltz. It differs from the much more famous "English Slow Waltz" by having much faster 180 beats per    minute and was the first who introduce "closed hold" between performers.        
       div.card#card2
        h3 
         |about dance types
        hr 
        p 
         |1.Viennese Waltz - Original form of the waltz, first performed at the Italian courts, is today remembered as the    Viennese Waltz. It differs from the much more famous "English Slow Waltz" by having much faster 180 beats per    minute and was the first who introduce "closed hold" between performers.
       div.card#card3
        h3
         |about dance types 
        hr
        p 
         |1.Viennese Waltz - Original form of the waltz, first performed at the Italian courts, is today remembered as the Viennese Waltz. It differs from the much more famous "English Slow Waltz" by having much faster 180 beats per minute and was the first who introduce "closed hold" between performers.         