html
  head
    title Categories
    block style
    block scripts
    
  body
    div#navbar 
         ul 
           div.logo 
             img(src="../public/slogo.png", alt="")
          
           div.ada
           li #[a(href="/home") Home]
           li #[a(href="/about") About Us]   
    block content
    footer
         |.  .  .