extends base.pug

block style 
  style 
    include ../public/style.css 
    include ../public/contact.css

block scripts
  

block content 
  div.container
     
    h1 Category : #{selectedCategory}