
doctype html
head
  title Home
  title Mobility Components Installation Guide
 
  style.
    /* CSS styling for the bookshelf */
    body {
    background-image: url("../public/back.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    h1 {
    color: white;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 20px;
    }
    h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 20px;
    }
    .bookshelf {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    }
    .book {
    width: 250px;
    height: 120px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-top: 50px;
    }
    .book:hover {
    transform: translateY(-5px);
    }
    .book img {
    max-width: 100%;
    max-height: 200px;
    margin-bottom: 10px;
    border-radius: 5px;
    }
    .book h3 {
    font-size: 20px;
    margin-bottom: 2px;
    }
    .book p {
    font-size: 14px;
    color: #666;
    margin-bottom: 2px;
    }
    .book .pdf-button {
    display: inline-block;
    padding: 8px 12px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    }
    .book .pdf-button:hover {
    background-color: #45a049;
    }

    .search {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    }
    .search input[type="text"] {
    padding: 8px;
    width: 300px;
    height: 15px;
    font-size: 16px;
    }
    .search input[type="submit"] {
    padding: 10px 16px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: black;
    cursor: pointer;
    }
    .logo {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 9999;
    }
    .logo img {
    padding :10px;
    width: 150px;
    height: auto;
    }
    .contact-info {
    padding:30px;
    margin-top: 10px;
    text-align: center ;
    font-size: 14px;
    color: white;
    }
   
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
    .dropdown {
    position: absolute;
    top: 20px;
    right: 20px;
    }
    .dropdown-button {
  
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 28px;
    }
    .dropdown-content {
    position: absolute;
    top: 0;
    left: -150px;
    background-color: #f9f9f9;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: none;
    max-height: 500px;
    overflow-y: auto;
    }


   .dropdown-content a {
    display: block;
    padding: 5px 0px;
    color: #333;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    }

   .dropdown-content a:hover {
    background-color: #ccc;
    } 

    .dropdown:hover .dropdown-content {
      display: block;
    }
    a
    {
      color :blue;
    }
    ul 
    {
      margin:0px;
      padding:20px 200px;
      display:flex;
      flex-direction:row;
      background-color:rgba(0,0,0,0.5);
    }
    li 
    {
      margin-left:30px;
      list-style:none;
    }
    li a
    {
      text-decoration:none;
      color: white;
      font-weight:bold;
    }
header  
  div#navbar 
         ul 
           div.ada
           li #[a(href="/home") Home]
           li #[a(href="/about") About Us]
a.logo(href='/home')
  img(src='../public/lg.png' alt='Logo')
h1 Welcome to Siemens Mobility Industries
h2 Siemens Vendor Directory
.search
  form#searchForm
    input#searchInput(type='text' placeholder='Search Categories...')
    input(type='submit' value='Search')

.dropdown
  button.dropdown-button &vellip;
    .dropdown-content
       each category in uniqueCategories
          a(href=`/contact?category=${category}`, target='_blank')= category
          hr

#bookshelf.bookshelf
  // Sample book items
  each category in uniqueCategories
        .book
          h3= category 
          a.pdf-button(href=`/contact?category=${category}`, target='_blank') Category
  
script.
  document.getElementById('searchForm').addEventListener('submit', function (e) {
  e.preventDefault(); // Prevent form submission
  var searchInput = document.getElementById('searchInput').value.toLowerCase();
  var books = document.querySelectorAll('.book');
  books.forEach(function (book) {
  var title = book.querySelector('h3').textContent.toLowerCase();
  if (title.includes(searchInput)) {
  book.style.display = 'block';
  } else {
  book.style.display = 'none';
  }
  });
  });
.contact-info
  p
    | Contact us at 
    a(href='mailto:siemensmobilityintern@gmail.com') siemensmobilityintern@gmail.com
    |  or call 
    a(href='+919284495997') +919284495997
  p &copy; All rights reserved | Siemens Mobility @2023
  

  